@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
*,::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
}

.main{
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
}

.container-left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    padding-top: 3rem;
    padding-left: 8rem;
    padding-bottom: 8rem;
}

.description{
    padding-left: 8rem;
    padding-bottom: 3rem;
}

.title h2{
    color: hsl(0, 36%, 70%);
    font-size: 3.2rem;
    letter-spacing: 1.2rem;
}

.title h1{
    color: hsl(0, 6%, 24%);
    font-size: 4rem;
    letter-spacing: 1rem;
}

.subtitle h3{
    padding-top: 1rem;
    color: hsl(0, 36%, 70%);
}

.form_input{
    padding-left: 8rem;
}

.form_all{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input input{
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: hsl(0, 36%, 70%);
    transition: .5s;
    font-size: 20px;
}

.input ::placeholder{
    color: white;
}

.input input:hover{
    background-color: #c4bfbf;
    color: white;
}

.form_submit button{
    background-color: hsl(0, 6%, 24%);
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: .5s;
}

.form_submit button:hover{
    background-color: #c4bfbf;;
}

.container-right img{
    height: 677px;
    width: 610px;
	object-fit:cover;
}
